.App{
  width: 100vw;
  height: 100vh;
}

.App > header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  padding-top: 5px;
}

.App > header > span{
  padding-left: 5px;
  font-size: 20px;
}

.app_spin{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}
